---
import Layout from "#src/layouts/Layout.astro";
---

<Layout title="Hello">
  <ul>
    <li><a href="/globe">Globe</a></li>
    <li><a href="/sign-up">Sign-up</a></li>
    <li><a href="/sign-in">Sign-in</a></li>
  </ul>
</Layout>
